#kaocha/v1
{:tests [{:id :unit
          :test-paths ["test"]
          :ns-patterns [".*-test$"]}]
 :plugins [:kaocha.plugin/profiling
           :kaocha.plugin/print-invocations]
 :reporter [kaocha.report/documentation]
 :color? true
 :randomize? false}
